<h1 style="font-family: Arial, Helvetica, sans-serif;">GoBarber</h1>
<strong>Hello, {{ provider }}!</strong>
<p>An appointment has been cancelled. Check the details below:</p>
<p>
  <strong>Client:</strong> {{ user }} <br />
  <strong>Date:</strong> {{ date }}
</p>

This schedule is already available again for new appointments.
